*{
    box-sizing: border-box;
}

body{
    background-image: url("./images/background.jpg");
    color: white;
}

td, th{
    border: 1px solid white;;
    color: white;
}

.rowDays{
    padding: 10px;
    height: 100px;
}

img{
    width: 400px;
}

table{
    background-color: gray;
}

h2{
    text-align: center;
}